/* @import url("fuentes/Indie_Flower/IndieFlower-Regular.ttf"); */
@font-face {
  font-family: 'Indie Flower';
  src: url("fuentes/Indie_Flower/IndieFlower-Regular.ttf") format('truetype');
}
.exile-regular {
  font-family: "Exile", system-ui;
  font-weight: 400;
  font-style: normal;
}
p::first-letter {
  color: rgb(197, 30, 44);
  font-size: 50px;
}

#uno {
  border: 1px black solid;
}
#dos {
  border: 1ch black solid;
}
#tres {
  border: 1em black solid;
  font-family: 'Exile', system-ui;
}
#cuatro {
  border: 1ex black solid;
  font-size: 20px;
  font-family: 'Indie Flower', sans-serif;
}